<!DOCTYPE html>
<htmllang="en">
  <head>
    <metacharset="UTF-8"/>
    <title>End Day Report</title>
    <style>
        table, th, td {
          border: 1px solid rgb(117, 114, 114);
          border-collapse: collapse;
          font-family: Roboto;
          padding:5px;
        }
        
        table th {
            background-color:rgb(229, 200, 74);;
        }
        </style>
  </head>
  <body>
    <h3>Here is the summary report for today</h3>
    <p>{{org_name}}, {{branch}}</p>
    <p>Date: {{date_now}}</p>
    <p>Conducted at: {{time_now}}</p>

    <table>
        <tbody>
            <tr>
                <th>Branch</th>
                <td>{{branch}}</td>
            </tr>
            <tr>
                <th>DateTime</th>
                <td>{{date_time}}</td>
            </tr>
            <tr>
                <th>Total Orders Count</th>
                <td>{{total_orders}}</td>
            </tr>
            <tr>
                <th>Total Order Amount</th>
                <td>{{total_amount}}</td>
            </tr>
            <tr>
                <th>Net Order Amount</th>
                <td>{{net_amount}}</td>
            </tr>
            <tr>
                <th>VAT</th>
                <td>{{vat}}</td>
            </tr>
            <tr>
                <th>Total Discount</th>
                <td>{{total_discounts}}</td>
            </tr>
            <tr>
                <th>Employee Name</th>
                <td>{{employee_name}}</td>
            </tr>
        </tbody>
    </table>
  </body>
</html>